    <%= render 'layouts/nav' %>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/cuatro-ciclistas.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Acerca de este Blog</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <section>
    <div class="container">
            <div class="row">
        <h2>Acerca de este Blog</h2>
        <p>Luego de nuestro viaje por la carretera austral chilena, decidimos que nos gustaria haber tenido mas informacion online acerca de las rutas, datos del camino, consejos etc.. Este blog esta hecho para todos quienes quieran colaborar con otros ciclistas expongan su experiencia y nos cuenten sus historias. Puedes subir datos practicos de ciertos tramos del camino, peligros, fotos o simplemente tu mirada de la ruta.

        Con esto esperamos contribuir a nuevos ciclistas que quieran hacer este recorrido y promover este bello deporte!

        Saludos!</p>
    </div>
    </div>
    </section> 




    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "nacho-perfil.png", class: "img-responsive", :style => "margin: auto;" %>
                        <h3>Ignacio Palma</h3>
                        <p class="text-muted">Musico, Emprendedor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "diego-perfil.png", class: "img-responsive" %>
                        <h3>Diego Palma</h3>
                        <p class="text-muted">Arquitecto, Escalador</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "victor-perfil.png", class: "img-responsive" %>
                        <h3>Victor Gutierrez</h3>
                        <p class="text-muted">Deportista en Descenso y Cross Country</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "tongua-perfil.png", class: "img-responsive" %>
                        <h3>Sebastian Godoy</h3>
                        <p class="text-muted">Constructor Civil, Escalador</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a href="https://www.facebook.com/groups/cicloturismo.chile/?fref=ts">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Ignaciopalma/my-blog">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>
