<!DOCTYPE html>
<html lang="en">

<body>

    <%= render 'layouts/nav' %>

    <header class="intro-header" style="background-image: url('https://s3-us-west-2.amazonaws.com/carretera-austral-assets/images/pumalin.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>A La Vuelta De La Rueda</h1>
                        <hr class="small">
                        <span class="subheading">Cicloturismo en Chile</span>
                        <br>
                        <%= link_to "Sube tu Experiencia!", new_post_path, class: "btn btn-success", id: "" %>

                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <% @all_posts.each do |p| %>
                    <div class="post-preview">
                    <%= link_to post_path(p) do %>
                        <%= image_tag p.image.url(:thumb) %>
                        <h2 class="post-title">
                            <%= p.roads.first.principio %> / <%= p.roads.first.final %>
                        </h2>
 
                <% end %>
                    <p class="post-meta">Por <a href="#"><%= p.creador %></a></p>
                </div>
                <hr>
                <% end %>  

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a href="https://www.facebook.com/ignacio.palmabalboa?fref=ts">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Cicloturismo-Chile 2016</p>
                </div>
            </div>
        </div>
    </footer>



</body>

</html>
