<%= render 'layouts/nav' %>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image:url('<%= @post.image.url %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @post.ruta %></h1>
                    <hr class="small">
                    <span class="subheading">Año <%= @post.año %></span>
                </div>
            </div>
        </div>
    </div>
</header>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        
                <div class="post-preview">

                        <h2 class="post-title">
                            <%= @post.ruta %>
                        </h2>
                        <p class="post-subtitle">
                            <%= @post.historia %>
                        </p>
                        <%= image_tag @post.image.url(:medium) %>
                    <p class="post-meta">Por <a href="#"><%= @post.creador %></a></p>
                </div>
                <hr>
  
                <h4><%= @post.comments.count %> Comments</h4>
                <div class="panel panel-default">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    <p><%= render @post.comments %></p>
                  </div>
                </div>

                    

                <h3>Add a comment</h3>
                    <%= render "comments/form" %>


                <%= link_to 'Edit', edit_post_path(@post) %> |
                <%= link_to 'Back', root_path %>
            </div>
        </div>
    </div>
